<!DOCTYPE html>
<link rel="icon"
      type="image/png"
      href="/img/favicon.ico" />
<html>
  <head>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="centered">
      <h1>Welcome '{{ .email }}'</h1>
      <ul class="left-justify">
        <li>Sub: {{ .user.Sub }}</li>
        <li>Name: {{ .user.Name }}</li>
        <li>GivenName: {{ .user.GivenName }}</li>
        <li>FamilyName: {{ .user.FamilyName }}</li>
        <li>Profile: <a href="{{ .user.Profile }}" target="_blank">{{ .user.Profile }}</a></li>
        <li>Picture: <a href="{{ .user.Picture }}" target="_blank">{{ .user.Picture }}</a></li>
        <li>Email: {{ .user.Email }}</li>
        <li>EmailVerified: {{ .user.EmailVerified }}</li>
        <li>Gender: {{ .user.Gender }}</li>
      </ul>
      <a href="/logout">Log Out</a>
    </div>
  </body>
</html>
