<!DOCTYPE html>
<link rel="icon"
      type="image/png"
      href="/img/favicon.ico" />
<html>
  <head>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    {{if .seen}}
        <h1>Welcome back to the battlefield '{{ .email }}'.</h1>
    {{else}}
        <h1>Welcome to the battlefield '{{ .email }}'.</h1>
    {{end}}
    <ul>
      <li>Sub: {{ .user.Sub }}</li>
      <li>Name: {{ .user.Name }}</li>
      <li>GivenName: {{ .user.GivenName }}</li>
      <li>FamilyName: {{ .user.FamilyName }}</li>
      <li>Profile: {{ .user.Profile }}</li>
      <li>Picture: {{ .user.Picture }}</li>
      <li>Email: {{ .user.Email }}</li>
      <li>EmailVerified: {{ .user.EmailVerified }}</li>
      <li>Gender: {{ .user.Gender }}</li>
    </ul>
    <a href="/logout">Log Out</a>
  </body>
</html>
