<!DOCTYPE html>
<link rel="icon"
      type="image/png"
      href="/img/favicon.ico" />
<html>
  <head>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>

  <div class="centered">
    <form method="post" action="/login">
      Enter your email address:
      <input type="text" name="email" id="email" /><br/><br/>
      <input type="submit" value="Sign In">
    </form>
  </div>

  </body>
</html>
